APP_NAME="BankingSystem"
APP_ENV=dev
APP_DEBUG=true

DOC_AUTH_USERNAME=admin
DOC_AUTH_PASSWORD=123456

AUTH_JWT_SECRET=change_me
AUTH_ACCESS_TTL_MIN=60

TOPIC_TRANSACTIONS=prod.tx
TOPIC_FAILED=prod.failed